<!DOCTYPE html>
<html lang="en">
<head>
<title>Market</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-left">
                    <li role="presentation" ><a href="/userHome">Dashboard</a></li>
                </ul>
				<ul class="nav nav-pills pull-right">
                    <li role="presentation" ><a href="/men">Men</a></li>
                    <li role="presentation" ><a href="/women">Women</a></li>
                    <li role="presentation"><a href="/myCart">MyCart</a></li>
					<li role="presentation"><a href="/myCart">MyOders</a></li>
                </ul>
            </nav>
            <img src="/static/images/newone.jpg" alt="Shopping" width="300" height="100"/ > 
        </div>
    </div>
  </body>
</html>